.boxContent {
  width: 100%;
  height: 100%;

  /* background-color: #ecf0f1; */
}

.boxContainer {
  width: 100%;
  background-color: #d5f0f7;
  display: flex;
  height: 100%;
}

.content {
  width: 97%;
  background-color: white;
  display: block;
  margin: auto;
  margin-top: 50px;
  border-radius: 2px;
  padding: 50px;
  height: 100%;
  /* box-shadow: 5px 10px #888888//; */
}
